<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/base.scss.css?1497580660712' rel='stylesheet' type='text/css' />		
		<link href='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/mmenu.scss.css?1497580660712' rel='stylesheet' type='text/css' />		
		<link href='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/style.scss.css?1497580660712' rel='stylesheet' type='text/css' />		
		<link href='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/update.scss.css?1497580660712' rel='stylesheet' type='text/css' />		
		<link href='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/module.scss.css?1497580660712' rel='stylesheet' type='text/css' />
		<link href='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/responsive.scss.css?1497580660712' rel='stylesheet' type='text/css' />

		
		
<header class="hidden-xs hidden-sm" id="mp_header">
	<div class="top-header">
		<div class="mpq_fix_top">
			<div class="left">
			</div>
			<div class="right">
				<div class="mp_top_angle"></div>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<span class="hidden-sm"><i class="fa fa-phone"></i> <a href="mailto:aventteam@gmail.com" class="margin-left-0">aventteam@gmail.com</a></span> &nbsp;&nbsp;&nbsp;&nbsp;
				<span class="hidden-sm"><i class="fa fa-envelope"></i> <a href="tel:0212343142" class="margin-left-0">0212343142</a></span>
			</div>
			<div class="right">
				
				<a href="/search"><i class="fa fa-search"></i> Tìm kiếm sản phẩm</a>
				
				<a href="/account/register"><i class="fa fa-user-plus"></i> Đăng ký</a>
				<a href="/account/login"><i class="fa fa-user"></i> Đăng nhập</a>
				
				
			</div>
		</div>
	</div>
	<div class="bottom-header">
		<div class="mpq_fix_bottom">
			<div class="left">
			</div>
			<div class="right">
				<div class="mp_bottom_angle"></div>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<a class="logo" href="/">
					<img alt="Car Center" src="//bizweb.dktcdn.net/100/058/097/themes/544388/assets/logo.png?1497580660712">
					
				</a>
			</div>
			<div class="right">
				<div class="clearfix">
					<ul class="list-unstyled col-md-11 main-nav">
						
						
						<li class="active"><a href="/">Trang chủ</a></li>
						
						
						
						<li class=" has-submenu"><a href="/collections/all">Sản phẩm</a>
							<ul class="list-unstyled level1">
								
								
								<li><a href="/frontpage">Sản phẩm mới</a></li>
								
								
								
								<li><a href="/san-pham-noi-bat">Sản phẩm nổi bật</a></li>
								
								
								
								<li><a href="/san-pham-khuyen-mai">Sản phẩm khuyến mãi</a></li>
								
								
								
								<li><a href="/ford">Ford</a></li>
								
								
								
								<li><a href="/toyota">Toyota</a></li>
								
								
								
								<li><a href="/mitsubishi">Mitsubishi</a></li>
								
								
								
								<li><a href="/audi">Audi</a></li>
								
								
								
								<li><a href="/honda">Honda</a></li>
								
								
								
								<li><a href="/kia">Kia</a></li>
								
								
								
								<li><a href="/mercedes-benz">Mercedes Benz</a></li>
								
								
							</ul>
						</li>
						
						
						
						<li><a href="/gioi-thieu">Giới thiệu</a></li>
						
						
						
						<li><a href="/tin-tuc">Tin tức</a></li>
						
						
						
						<li><a href="/lien-he">Liên hệ</a></li>
						
						      
					</ul>
					<div class="col-md-1 mini-cart">
						<a href="/cart">
							<i class="fa fa-shopping-cart"></i>
						</a>
						<span class="cartCount">0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id='as-slider'>
  <a href="img01_url" target="_blank">
	<img src='//bizweb.dktcdn.net/100/058/097/themes/544388/assets/slider_1.jpg?1497580660712' style="width:100%;height:500px;" >
	
  </a>
</div>
	    <script type="text/javascript">
      $(document).ready(function() {
        $('#coin-slider').coinslider({ width: 900, navigation: false, delay: 5000 });
      });
    </script>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="ui card">
        <div class="image">
          <img src="http://s1.storage.5giay.vn/image/2015/07/20150726_94ce01ca16d9b04442328286e81f2e05_1437897344.jpg">
        </div>
        <div class="content">
          <a class="header">Canon C2</a>
          <div class="meta">
            <span class="date">Published in 2013</span>
          </div>
          <div class="description">
            Simply provide the best shot for you
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            $550
          </a>
        </div>
      </div>
    </div>
	<div class="col-md-4">
      <div class="ui card">
        <div class="image">
          <img src="https://xehay.vn/uploads/images/2015/9/03/xehay-PKL-170915-1.jpg">
        </div>
        <div class="content">
          <a class="header">Canon C2</a>
          <div class="meta">
            <span class="date">Published in 2013</span>
          </div>
          <div class="description">
            Simply provide the best shot for you
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            $700
          </a>
        </div>
      </div>
    </div>
	<div class="col-md-4">
      <div class="ui card">
        <div class="image">
          <img src="https://xehay.vn/uploads/images/2015/9/03/xehay-PKL-170915-6.jpg">
        </div>
        <div class="content">
          <a class="header">Canon C2</a>
          <div class="meta">
            <span class="date">Published in 2013</span>
          </div>
          <div class="description">
            Simply provide the best shot for you
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            $800
          </a>
        </div>
      </div>
    </div>
  </div>
</div>